<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<OpcUAClientModuleConfigurationDocument schemaVersion="1.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.phoenixcontact.com/schema/opcuaclientmoduleconfig" xmlns="http://www.phoenixcontact.com/schema/opcuaclientmoduleconfig">
  <Application>
    <SessionSecurity>
      <ApplicationAuthentication>false</ApplicationAuthentication>
      <ApplicationUriCheck>false</ApplicationUriCheck>
      <CertificateHostnameCheck>false</CertificateHostnameCheck>
      <CertificateTimeCheck>false</CertificateTimeCheck>
      <CertificateIssuerTimeCheck>false</CertificateIssuerTimeCheck>
      <PasswordEncryptionCheck>false</PasswordEncryptionCheck>
    </SessionSecurity>
  </Application>
</OpcUAClientModuleConfigurationDocument>